@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* Fonts */
    --ff-main: 'Figtree';
    --ff-size: 1rem;
    --fw-light: 500;
    --fw-bold: 800;
    /* Colors */
    --clr-yellow:  hsl(47, 88%, 63%);
    --clr-white:  hsl(0, 0%, 100%);
    --clr-grey-500: hsl(0, 0%, 42%);
    --clr-grey-950: hsl(0, 0%, 7%);
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  html {
    height: 100%;
    background-color: var(--clr-yellow);
    font-family: var(--ff-main);
    font-size: var(--ff-size);
  }
  body {
    height: 100%;
    display: grid;
    place-content: center;
  }
  main {
    max-width: 340px;
    background-color: var(--clr-white);
    padding: 1.2rem;
    border-radius: 1rem;
    margin: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.842);
    box-shadow: 6px 6px 2px black;
    padding-bottom: 0.8rem;
  }
  .card__button {
    border: transparent;
    border-radius: .3rem;
    padding: .3rem;
    width: 85px;
    font-weight: var(--fw-bold);
    color: black;
    background-color: var(--clr-yellow);
    margin-bottom: 1rem;
  }
  .card__published-date {
    font-weight: var(--fw-light);
  }
  h1 {
    font-weight: var(--fw-bold);
    cursor: pointer;
  }
  h1:hover {
    color: var(--clr-yellow);
  }
  .card__main-description {
    opacity: 0.7;
    font-weight: var(--fw-light);
  }
  .card__main-image {
    border-radius: .5rem;
    margin-bottom: 1rem;
  }
  section * {
    margin-bottom: .5rem;
  }
  .card__attribution {
    font-weight: var(--fw-bold);
  }
  .card__avatar {
    width: 40px;
  }
  
  .card__attribution-flexgroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }